/* Définir les polices utilisées : /*

/* Déclaration de la police Gilroy */
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  /* Déclaration de la police Arima Koshi */
  @font-face {
    font-family: 'Arima Koshi';
    src: url('fonts/arima-koshi/ArimaKoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arima Koshi';
    src: url('fonts/arima-koshi/ArimaMadurai-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  

  /* Général */
  body {
      background-color: black;
      color: white;
      font-family: 'Arima Koshi', sans-serif;
      font-weight: 300;
  }
  
  h1 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 900;
  } 

  h2 {
      font-family: 'Gilroy', sans-serif;
      font-weight: 900;
  }
  
  #cocktails, #galerie {
    background-color: #410F12;
  }
  
/* Bouton */
.bouton {
  background-color: #891647;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.74);
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.bouton:hover {
  background-color: #891647;
  opacity: 0.5;
}
.bouton:active {
  background-color: #E90514;
  box-shadow: inset 2px 2px 20px 0px rgba(0,0,0,0.64);
}

  /* Version mobile */
  @media (max-width: 768px) {
    body {
      font-size: 15px;
    }
  
    h2 {
      font-size: 25px;
    }
  }

/* NavBar */
#logo {
  height: 60px; 
  width: auto;
  margin: 2% 200px;
}

nav {
    background-color: #410F12;
    height: 70px;
}

.container-fluid {
    padding: 0 20px; /* Éloigne le contenu des bords gauche et droit */
}

.nav-link {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 4rem;
}

.navbar-collapse {
  background-color: #410F12;
  text-align: center;
  padding: none;
}

/* Supprimer les bordures et l'arrière-plan du bouton burger */
.navbar-toggler {
  border: none;
  background: none;
  padding: 0;
  }

/* Couleur et style de l'icône Font Awesome */
.navbar-toggler .fa-bars {
  color: white;      /* Couleur de l'icône */
  font-size: 35px;   /* Taille de l'icône */
  margin-right: 20px; /* Pour laisser une marge à droite et pas coller l'icône au bord de la page */
}

/* Supprimer l'effet de contour au clic */
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

ul {
  margin-right: 30px;
}

li {
    font-family: 'Arima Koshi', sans-serif;
  }
  
  /* Version mobile */
  @media (max-width: 768px) {
    #logo {
      height: 40px; 
      width: auto;
      margin: 0%;
      padding-left: 30%;
    }
  
    h2 {
      font-size: 25px;
    }
  
    nav .container-fluid {
      padding: 0;
      align-items: center;
    }
  
    .nav-link {
      margin: 0;
      padding: 30px;
    }
  }
  
  /* Fin de la NavBar */

/* Hero */
.hero-img {
  background-image: url(../Images/Bar/Bar.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 45vh;
}

.position-image {
  width: 20%;
  max-width: 300px; /* Taille maximale pour éviter qu'elle devienne trop grande */
  height: auto; /* Maintenir les proportions */
}

/* Version mobile */
@media (max-width: 768px) {
  .position-image {
    width: 50%; /* Augmente la taille pour les écrans mobiles */
    max-width: none; /* Supprime la limite si nécessaire */
  }
  .navbar-toggler .fa-bars {
    color: white;      /* Couleur de l'icône */
    font-size: 30px;   /* Taille de l'icône */
    margin-right: 20px;
  }
  
}

/* Formulaire */ 
input:not(.bouton), textarea {
  background-color: black;
  color: white;
  width: 500px;
  border: solid 1px grey;
  resize: none;
}

#agree{
  width: 20px;
  margin-right: 20px;
}

textarea {
  height: 300px;

}

small {
  color: #E90514;
  font-size: 10px;
}

form a {
  color: white;
  text-decoration: none;
  font-weight: 800;
}

.agree {
  font-size: 10px;
}

.g-map {
  width: 90%;
  height: 450px;
}

/* Version mobile */
@media (max-width: 768px) {
  input:not(.bouton), textarea {
    width: 100%;
  }
}

/* Footer*/
footer i {
  font-size: 30px;
  margin-right: 20px;
  color: white;
}

footer a:not(.rs) {
  color: white;
  margin: 30px;
}

.logo-footer {
  width: 350px;
  height: 150px;
}

/* Version mobile */
@media (max-width: 768px) {
  footer .list-plan-site {
    flex-direction: column; /* Passe en mode vertical */
    align-items: center; /* Centre chaque élément */
  }

  footer .list-plan-site li {
    margin: 10px 0; /* Ajoute un espacement vertical */
  }

  .mentions-legales {
    font-size: 10px;
  }
}
  